.forgot-wrapper {
  min-height: 100vh;
  background: url('../../assets/login-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.forgot-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
  color: #007bff;
}

.forgot-box h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
}

.forgot-box form {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.forgot-box label {
  font-size: 14px;
  margin-bottom: 4px;
}

.forgot-box input[type="email"] {
  color: #000000;
  border: 1.5px solid #007bff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 12px;
  outline: none;
}

.forgot-box input[type="email"]::placeholder {
  color: #8f8f8f;
}

.forgot-box button {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #00b3ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s;
}

.forgot-box button:hover {
  background: #0095d9;
}

.info {
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: #000000;
}

.forgot-box input[type="text"],
.forgot-box input[type="password"] {
  color: #000;
  border: 1.5px solid #007bff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 12px;
  outline: none;
}

.forgot-box input[type="text"]::placeholder,
.forgot-box input[type="password"]::placeholder {
  color: #909090;
}

.back-link {
  text-align: center;
  margin-top: 20px;
}

.back-link a {
  color: #00b3ff;
  text-decoration: none;
}

.back-link a:hover {
  text-decoration: underline;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.form-group label {
  margin-bottom: 2px; 
}